.App {
  text-align: center;
}
.card{
  width: 224px;
  height: 500px;
  margin: 30px;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}
.card-img-top{
  width: 224px;
  height: 340px;
}
.card-body{
  height: 15px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-sub {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-sub:hover {
  background-color: #45a049;
}

/* div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} */
.btn-modal{
  width: 200px;
  height: 200px;
  margin: 20px;
  background-color: rgb(233, 230, 225);
}
.modall{
      position: absolute;
    top: 40px;
    left: 255px;
    right: 40px;
    bottom: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
  width: 800px;
  height: 440px;
}
.img-plus{
  width: 180px;
  height: 180px;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}